@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-slate-300 text-white;
  }
}
.pokiloader {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
